.app, .Shop {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
}

.homeMain, .shopMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.shopContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

header a {
    color: black;
    text-decoration: none;
}


